---
import Graph from "~components/Desktop/Window/Theme/Graph.astro";

const { name, url, version, downloads, color } = Astro.props;
---

<div class="theme-content">
  <header>
    <div>
      <a class="theme-name" href={url}>{name}</a>
      <div>{downloads}</div>
    </div>
    <div class="theme-version">{version}</div>
  </header>
  <Graph color={color} />
</div>

<style lang="scss" define:vars={{ color }}>
  @import "~styles/mixins";

  .theme-content {
    border-radius: $border-radius-lg;
    border: 1px solid var(--color);
    background-color: black;
    font-weight: normal;
    padding: 1rem;
    color: white;
  }

  header {
    justify-content: space-between;
    display: flex;
  }

  .theme-name {
    @include focus {
      @include single-box($c-lemon);
      background-color: $c-lemon;
      color: black;
    }
  }

  .theme-version {
    color: var(--color);
  }
</style>
